/*

Add main CSS here

*/

.bar {
  fill: steelblue;
  border-top-left-radius: 5px;
}

.bar:hover {
  fill: brown;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#b {
  float: right;
  margin-top: -50px;
  margin-right: 5px;
}

table {
  border-radius: 10%;
}

td{
  border: 1px solid lightgray;
}

th {
  border:1px solid lightgray;
  text-align: center;
}
.name {
  color: white;
  background-color: steelblue;
  width:150px;
  text-align: center;
}

.value {
  color: black;
  background-color: white;
  width:150px;
  text-align: center;
}

/*.letters:hover {
  background-color: brown;
}*/
