/*

Add main CSS here

*/

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 8px sans-serif;
  text-anchor: middle;
}

.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

button {
  color: red;
}
