/*

Add main CSS here

*/
body {
  position: relative;
}

.scrollspy-example {
    /*height: 200px;*/
}

.bs-example {
    /*height: 200px;*/
}

#dimension {
    height: 300px;
    width:500px;
    background-color: blue;
}

.bar {
  fill: steelblue;
  border-top-left-radius: 5px;
}

.bar:hover {
  fill: brown;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#b {
  float: right;
  margin-top: -50px;
  margin-right: 5px;
}

table {
  border-radius: 10%;
}

td{
  border: 1px solid lightgray;
}

th {
  border:1px solid lightgray;
  text-align: center;
}
.name {
  color: white;
  background-color: steelblue;
  width:150px;
  text-align: center;
}

.value {
  color: black;
  background-color: white;
  width:150px;
  text-align: center;
}

td {
    width:300px;
}

.placeholder {
    color: black;
}

/*.letters:hover {
  background-color: brown;
}*/
